admin: MD5:21232f297a57a5a743894a0e4a801fc3,Administrators
user: CRYPT:us6EKZMmfBVwI,Restricted
another: OBF:1uum1uvc1vnq1z0f1vnc1uuu1uvk,Restricted
admin2: admin2,Administrators
disallowed: no_access
